body {
  margin: 0;
  font-family: "Merriweather", serif;
  text-align: center;
  color: #40514e;
}

.top-container {
  background-color: #eaf6f6;
  position: relative;
  padding-top: 100px;
}
h1 {
  font-size: 562.5%;
  margin: 50px auto 0 auto;
  font-family: "Sacramento", cursive;
  color: #66bfbf;
}
h2 {
  font-size: 2.5rem;
  font-family: "Montserrat", sans-serif;
  color: #66bfbf;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #11999e;

  font-weight: normal;
}
hr {
  border-style: none;
  border-top-style: dotted;
  height: 0;
  border-width: 5px;
  width: 5%;
  border-color: #eaf6f6;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 250px;
}
.top-cloud {
  position: absolute;
  right: 200px;
  top: 40px;
}
.profile {
  margin: 40px auto 20px auto;
  line-height: 0.5;
}
.intro {
  width: 30%;
  margin: auto;
}
a {
  color: #11999e;
}
.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.interface-image {
  /* 25% of their parent size */
  width: 25%;
  float: left;
  margin-right: 30px;
}
.chillies-image {
  width: 25%;
  float: right;
  margin-left: 30px;
}
.personal-photo {
  width: 10%;
}
p {
  color: #40514e;
  line-height: 2;
}
.BUTTON_GYF {
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 26px;
  font-weight: 500;
  padding: 8px;
  background-color: #66bfbf;

  border: solid #66bfbf 7px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.BUTTON_GYF:hover {
  background: #856c8b;
  border: solid #856c8b 7px;

  border-radius: 9px;
  text-decoration: none;
}
.contact-me {
  margin-bottom: 100px;
}
.copy-right {
  color: #eaf6f6;
}
.bottom-container {
  background-color: #66bfbf;
  height: 170px;
  margin-bottom: 0;
}
.footer-link {
  color: #11999e;
  text-decoration: none;
  margin-top: 30px;
}
.middle-container {
  margin: 100px 0;
}
